extends layout
block content
  #banner.page-header
    .row
      .col-lg-6
        h1 Movie Review
        small &nbsp;The Movies of the Year
  .row
    .col-xs-12.col-sm-4
      .row.list-group
        <br>
        .col-xs-12.list-group-item
            h2
                <span style="color:red"> Jailer 
            <img src='./images/jailer.jpg', width=150 , height=200>
            <br>
            small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
        .col-xs-12.list-group-item
            h2
                <span style="color:red"> Mahaveeran
            <img src='./images/mahaveerudu.jpg', width=150 , height=200>
            <br>
            small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
        .col-xs-12.list-group-item    
            h2
                <span style="color:Red">Bola Shankar 
            <img src='./images/Bhola_Shankar.jpg', width=150, height=200>
            <br>
            small &nbsp;
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
            span.glyphicon.glyphicon-star-empty
    .col-xs-12.col-sm-4
      p.lead
        .col-xs-12.list-group-item
            <br><br><br><br><br>
            <h2 align='middle'> 
            a(href='https://en.wikipedia.org/wiki/Jailer_(film)') Details
            <br><br><br><br><br>
        .col-xs-12.list-group-item
            <br><br><br><br><br>
            <h2 align='middle'> 
            a(href='https://en.wikipedia.org/wiki/Maaveeran_(2023_film)') Details
            <br><br><br><br>
        .col-xs-12.list-group-item
            <br><br><br><br><br>
            <h2 align='middle'>
            a(href='https://en.wikipedia.org/wiki/Bhola_Shankar') Details
            <br><br><br><br><br>
    .col-xs-12.col-sm-4
      p.lead
        .col-xs-12.list-group-item
            <br><br><br><br><br>
            <h2 align='middle'> 
            a(href='/signin') Review
            <br><br><br><br><br>
        .col-xs-12.list-group-item
            <br><br><br><br><br>
            <h2 align='middle'> 
            a(href='signin') Review
            <br><br><br><br>
        .col-xs-12.list-group-item
            <br><br><br><br><br>
            <h2 align='middle'> 
            a(href='signin') Review
            <br><br><br><br><br>
        
    